{
  "env": {
    "development": {
        "presets": [
          "react-native", "@babel/preset-flow"
        ],
        "plugins": [
          "@babel/plugin-transform-react-jsx-source", 
          ["@babel/plugin-proposal-decorators", { "legacy": true }]
        ],
        "sourceMaps": "inline"
    },
    "scripts": {
        "presets": [
          "@babel/env", "@babel/preset-flow"
        ],
        "plugins": [
          ["@babel/plugin-proposal-decorators", { "legacy": true }]
        ]
    }
  }
}