{
  "presets": [
    "@babel/preset-flow","module:metro-react-native-babel-preset"
  ],
  "env": {
    "development": {
        "plugins": [
          "@babel/plugin-transform-react-jsx-source", 
          ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ]
    }
  },
  "sourceMaps": "inline"
}