@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url('../fonts/FranklinGothicMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Franklin Gothic Regular';
  src: url('../fonts/FranklinGothicRegular.ttf') format('truetype');
}
.hoverable .content {
  padding: 10px;
}
.hoverable:hover {
  background-color: #ff5252;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hoverable:hover .content .header,
.hoverable:hover .content .description {
  color: white !important;
}
.pageNumberInput {
  width: 50px !important;
}
.pageNumberInput input {
  text-align: center !important;
}
body {
  overscroll-behavior: none;
  overflow: hidden;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.split {
  height: calc(100% - 102px);
  display: flex;
  flex-direction: row;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
